doctype html
html
  head
    base(href="../")
    meta(charset='UTF-8')
    title Mindy - Punto de venta
    link(rel='stylesheet', href='css/main.css')
  body
    .window
    script.
      if (typeof module === 'object') {window.module = module; module = undefined;}
      window.nodeRequire = require;
      delete window.require;
      delete window.exports;
      delete window.module; 
    script(src='libs/requirejs/require.js' data-main="js/main" charset='utf-8')
    script.
      if (window.module) module = window.module;