//- script.
//-   $(".toolbar .toolbar-actions").remove();
//-   $(".toolbar").prepend($(".toolbar-actions"));
.toolbar-actions.on-top
  a.btn.btn-default.btn-outline(href="./inventario/agregar")
    span.icon.icon-plus
    | Agregar elemento
table.table-striped#items
  thead
    tr
      th Nombre
      th Existencia
      th Unidad
      th Acciones
  tbody